USE [master]
GO
/****** Object:  Database [CakeClient]    Script Date: 21.08.2022 14:32:51 ******/
CREATE DATABASE [CakeClient]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CakeClient', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CakeClient.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CakeClient_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CakeClient_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CakeClient].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CakeClient]
GO
/****** Object:  Table [dbo].[Additions]    Script Date: 21.08.2022 14:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Additions](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Additions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Creams]    Script Date: 21.08.2022 14:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creams](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Creams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crusts]    Script Date: 21.08.2022 14:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crusts](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Crusts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fillings]    Script Date: 21.08.2022 14:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fillings](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Fillings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 21.08.2022 14:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdRecipe] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[Cost] [decimal](18, 4) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Data] [datetime] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 21.08.2022 14:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[TypeCrust1] [int] NULL,
	[TypeCrust2] [int] NULL,
	[TypeCrust3] [int] NULL,
	[TypeFilling1] [int] NULL,
	[TypeFilling2] [int] NULL,
	[TypeFilling3] [int] NULL,
	[TypeCream1] [int] NULL,
	[TypeCream2] [int] NULL,
	[TypeCream3] [int] NULL,
	[TypeAddition1] [int] NULL,
	[TypeAddition2] [int] NULL,
	[TypeAddition3] [int] NULL,
	[Cost] [decimal](18, 4) NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21.08.2022 14:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Additions] ([Id], [Title]) VALUES (1, N'Орехи')
INSERT [dbo].[Additions] ([Id], [Title]) VALUES (2, N'Ананас')
INSERT [dbo].[Additions] ([Id], [Title]) VALUES (3, N'Манго')
GO
INSERT [dbo].[Creams] ([Id], [Title]) VALUES (1, N'Шоколадный')
INSERT [dbo].[Creams] ([Id], [Title]) VALUES (2, N'Ванильный')
INSERT [dbo].[Creams] ([Id], [Title]) VALUES (3, N'Сливочный крем-чиз')
GO
INSERT [dbo].[Crusts] ([Id], [Title]) VALUES (1, N'Масляный шоколадный')
INSERT [dbo].[Crusts] ([Id], [Title]) VALUES (2, N'Шоколадный')
INSERT [dbo].[Crusts] ([Id], [Title]) VALUES (3, N'Шоколадный бархат')
GO
INSERT [dbo].[Fillings] ([Id], [Title]) VALUES (1, N'Кули клубничное')
INSERT [dbo].[Fillings] ([Id], [Title]) VALUES (2, N'Конфи абрикосовое')
INSERT [dbo].[Fillings] ([Id], [Title]) VALUES (3, N'Кремю молочное')
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [IdUser], [IdRecipe], [Weight], [Cost], [Address], [Data]) VALUES (10, 2, 14, 3, CAST(4000.0000 AS Decimal(18, 4)), N'Постовая 57', CAST(N'2022-05-23T00:00:00.000' AS DateTime))
INSERT [dbo].[Orders] ([Id], [IdUser], [IdRecipe], [Weight], [Cost], [Address], [Data]) VALUES (16, 8, 15, 4, CAST(8000.0000 AS Decimal(18, 4)), N'Upornya', CAST(N'2022-05-27T09:42:36.000' AS DateTime))
INSERT [dbo].[Orders] ([Id], [IdUser], [IdRecipe], [Weight], [Cost], [Address], [Data]) VALUES (17, 2, 2, 3, CAST(3000.0000 AS Decimal(18, 4)), N'ул. Упорная 53', CAST(N'2022-06-22T18:06:05.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipe] ON 

INSERT [dbo].[Recipe] ([Id], [IdUser], [Title], [Description], [TypeCrust1], [TypeCrust2], [TypeCrust3], [TypeFilling1], [TypeFilling2], [TypeFilling3], [TypeCream1], [TypeCream2], [TypeCream3], [TypeAddition1], [TypeAddition2], [TypeAddition3], [Cost], [Photo]) VALUES (6, 1, N'Медовик', N'классический рецепт и незабываемый вкус. Торт из меда очень любят дети.', 5, NULL, NULL, 3, NULL, NULL, 3, NULL, NULL, 7, NULL, NULL, CAST(1000.0000 AS Decimal(18, 4)), NULL)
SET IDENTITY_INSERT [dbo].[Recipe] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [Password], [Phone], [Address]) VALUES (1, N'admin', N'admin', N'89183332222', N'Ул. Постовая 28')
INSERT [dbo].[User] ([Id], [Login], [Password], [Phone], [Address]) VALUES (2, N'adm', N'adm', N'89183332222', N'Ул. Постовая 28')
INSERT [dbo].[User] ([Id], [Login], [Password], [Phone], [Address]) VALUES (3, N'adm', N'amd', N'89183332222', N'Ул. Постовая 28')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Recipe] FOREIGN KEY([IdRecipe])
REFERENCES [dbo].[Recipe] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Recipe]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Additions] FOREIGN KEY([TypeAddition1])
REFERENCES [dbo].[Additions] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Additions]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Additions1] FOREIGN KEY([TypeAddition2])
REFERENCES [dbo].[Additions] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Additions1]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Additions2] FOREIGN KEY([TypeAddition3])
REFERENCES [dbo].[Additions] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Additions2]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Creams] FOREIGN KEY([TypeCream1])
REFERENCES [dbo].[Creams] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Creams]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Creams1] FOREIGN KEY([TypeCream2])
REFERENCES [dbo].[Creams] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Creams1]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Creams2] FOREIGN KEY([TypeCream3])
REFERENCES [dbo].[Creams] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Creams2]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Crusts] FOREIGN KEY([TypeCrust1])
REFERENCES [dbo].[Crusts] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Crusts]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Crusts1] FOREIGN KEY([TypeCrust2])
REFERENCES [dbo].[Crusts] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Crusts1]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Crusts2] FOREIGN KEY([TypeCrust3])
REFERENCES [dbo].[Crusts] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Crusts2]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Fillings] FOREIGN KEY([TypeFilling1])
REFERENCES [dbo].[Fillings] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Fillings]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Fillings1] FOREIGN KEY([TypeFilling2])
REFERENCES [dbo].[Fillings] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Fillings1]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Fillings2] FOREIGN KEY([TypeFilling3])
REFERENCES [dbo].[Fillings] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Fillings2]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_User]
GO
USE [master]
GO
